<header>
  <div id="header-wrapper">
    <div id="account-area">
      <ul>
        <li>고객센터</li>
        <li>주문배송</li>
        <li>로그인/회원가입</li>
      </ul>
    </div>
    <div id="header-area">
      <div id="logo-area">
        <img
          src="https://static.lotteon.com/p/common/foCommon/assets/img/logo_lotte-on@2x.png"
          alt="logo"
        />
      </div>

      <div id="search-area">
        <input type="text" placeholder="검색어를 입력하세요" />
        <button>
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>

      <div id="button-area">
        <a href="#">
          <i class="fa-regular fa-comment-dots"></i>
          <span> 챗봇 </span>
        </a>
        <a href="#">
          <i class="fa-regular fa-heart"></i>
          <span> 나의 찜 </span>
        </a>
        <a href="#">
          <i class="fa-regular fa-user"></i>
          <span> 마이롯데 </span>
        </a>
        <a href="#">
          <i class="fa-solid fa-basket-shopping"></i>
          <span> 장바구니 </span>
        </a>
      </div>
    </div>
  </div>
  <nav id="quick-menu">
    <ul>
      <li>
        <i class="fa-solid fa-bars"></i>
      </li>
      <li>
        <a href="#">홈</a>
      </li>
      <li>
        <a href="#">특가</a>
      </li>
      <li>
        <a href="#">패션</a>
      </li>
      <li>
        <a href="#">뷰티</a>
      </li>
      <li>
        <a href="#">라이프</a>
      </li>
      <li>
        <a href="#">베스트</a>
      </li>
      <li>
        <a href="#">여행</a>
      </li>
      <li>
        <a href="#">백화점</a>
      </li>
      <li>
        <a href="#">내일ON다</a>
      </li>
      <li>
        <a href="#">이벤트</a>
      </li>
    </ul>
  </nav>
</header>
