<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style/init.css" />
    <link rel="stylesheet" href="/static/style/common/myPage/modal/orderModal.css">
    <link
    rel="icon"
    href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png"
    />
    <link
        rel="stylesheet"
        href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script src="/static/js/common/header.js"></script>
    <script src="/static/js/common/footer.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
        crossorigin="anonymous"
    ></script>

</head>
<body>
    <div id="wrapper">
        <div class="modal-header">
            <p>주문상세</p>
            <button>x</button>
        </div>

        <div class="body">
            <div class="body2">
                <div class="table-title">
                    <p>주문정보</p>
                </div>
                <div class="hd-line">
                    <table class="order-info-table">
                        <tr class="table-hd">
                            <th>날짜</th>
                            <th>상품정보</th>
                            <th>결제금액</th>
                            <th>상태</th>
                        </tr>
                        
                        <tr class="table-bd">
                            <div>
                                <td>
                                    <p>2022-01-01</p>
                                </td>
                                
                                <td>
                                    <div class="table-bd">
                                        <div class="pro-info">
                                            <img src="/templates/common/img5.png" alt="#">
                                        </div>

                                        <div>
                                            <div>
                                                <p>주문번호</p>
                                                <p>1012211341</p>
                                            </div>

                                            <div>
                                                <p>(주) 상호명</p>
                                            </div>

                                            <div>
                                                <p>상품명</p>
                                            </div>

                                            <div>
                                                <p>수량:</p>
                                                <p>1개</p>
                                            </div>

                                            <div>
                                                <p>34,000원</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div>
                                        <p>판매가</p>
                                        <p>34,000원</p>
                                    </div>

                                    <div>
                                        <p>할인</p>
                                        <p>-3,000원</p>
                                    </div>

                                    <div>
                                        <p>결제금액</p>
                                        <p>34,000원</p>
                                    </div>
                                </td>

                                <td>배송완료</td>

                            </div>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>