<link rel="stylesheet" href="/static//style/common/pagination.css" />
<main>
  <section class="pagination">
    <a class="page move" href="#">
      <i class="fa-solid fa-angles-left"></i>
    </a>
    <a class="page move" href="#">
      <i class="fa-solid fa-chevron-left"></i>
    </a>
    <a class="page" href="">1</a>
    <a class="page" href="">2</a>
    <a class="page" href="">3</a>
    <a class="page" href="">4</a>
    <a class="page move" href="#">
      <i class="fa-solid fa-chevron-right"></i>
    </a>
    <a class="page move" href="#">
      <i class="fa-solid fa-angles-right"></i>
    </a>
  </section>
</main>
