<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>롯데ON</title>
  <link rel="stylesheet" href="/style/init.css"/>
  <link rel="stylesheet" href="/style/index.css"/>
  <link rel="stylesheet" href="/style/common/header.css"/>
  <link rel="stylesheet" href="/style/common/footer.css"/>
  <link rel="stylesheet" href="/style/common/pagination.css">
  <link rel="stylesheet" href="/style/product/table.css"/>
  <link rel="stylesheet" href="/style/product/aside.css">
  <link rel="stylesheet" href="/style/product/mainheader.css">
  <link rel="stylesheet" href="/style/product/proOrderRs.css">
  <link
      rel="icon"
      href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png"
  />
  <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css"
  />
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
  <script src="/js/common/header.js"></script>
  <script src="/js/common/footer.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
      crossorigin="anonymous"
  ></script>
</head>
<body>
<div id="wrapper">
  <th:block th:insert="~{/common/header}"></th:block>
  <main>
    <div class="main">
      <article class="article-body">
        <div class="article-header">
          <div class="main-heder">
            <p>주문완료</p>
            <ul>
              <li>HOME ></li>
              <li>패션 · 의류 · 뷰티 ></li>
              <li>장바구니</li>
            </ul>
          </div>
        </div>

        <div class="rs-title">
          <p>고객님의 주문이 정상적으로 완료되었습니다.</p>
          <p>즐거운 쇼핑이 되셨나요? 항상 고객님을 위한 롯데 ON이 되겠습니다.</p>
        </div>


        <table class="list">
          <tr class="table_hd">
            <th><input type="checkbox"></th>
            <th></th>
            <th>상품명</th>
            <th>상품금액</th>
            <th>할인금액</th>
            <th>수량</th>
            <th>주문금액</th>
          </tr>
          <tr class="table_bd">
            <td><input type="checkbox"></td>
            <td>
              <img src="/proDetail-img/img5.png" alt="#">
            </td>
            <td>상품소개입니다.</td>
            <td>27,000원</td>
            <td>-1,350</td>
            <td>1</td>
            <td class="sumprice">25,650</td>
          </tr>
        </table>

        <div class="rs-price-box">
          <div class="rs-price">
            <div>
              <span>총 상품금액</span>
              <span>27,000원</span>
            </div>

            <div>
              <span>총 할인금액</span>
              <span>-1,350원</span>
            </div>

            <div>
              <span>배송비</span>
              <span>0원</span>
            </div>

            <div>
              <span>총 결제금액</span>
              <span class="sumprice">25,650원</span>
            </div>
          </div>
        </div>

        <div class="order-info-box">
          <p>주문정보</p>

          <div class="order-info">
            <div>
              <p>주문번호</p>
              <p>결제방법</p>
              <p>주문자/연락처</p>
            </div>

            <div>
              <p>1000121121</p>
              <p>신용카드</p>

              <div>
                <span>홍길동 /</span>
                <span>010-1234-1234</span>
              </div>
            </div>

            <div>
              <span>총 결제금액</span>
              <span>24,650 원</span>
            </div>
          </div>
        </div>

        <div class="order-info-box">
          <p>배송정보</p>

          <div class="order-info">
            <div>
              <p>수취인</p>
              <p>연락처</p>
              <p>배송지 주소</p>
            </div>

            <div>
              <p>홍길동</p>
              <p>010-1234-1234</p>
              <p>부산 금정구 123-11 10층</p>
            </div>
          </div>
        </div>
      </article>
    </div>
    <section class="pagination">
      <a class="page move" href="#">
        <i class="fa-solid fa-angles-left"></i>
      </a>
      <a class="page move" href="#">
        <i class="fa-solid fa-chevron-left"></i>
      </a>
      <a class="page" href="">1</a>
      <a class="page" href="">2</a>
      <a class="page" href="">3</a>
      <a class="page" href="">4</a>
      <a class="page move" href="#">
        <i class="fa-solid fa-chevron-right"></i>
      </a>
      <a class="page move" href="#">
        <i class="fa-solid fa-angles-right"></i>
      </a>
    </section>
  </main>
  <th:block th:insert="~{/common/footer}"></th:block>
</div>
</body>
</html>
