<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>롯데ON</title>
    <link rel="stylesheet" href="/style/init.css" />
    <link rel="stylesheet" href="/style/index.css" />
    <link rel="stylesheet" href="/style/common/header.css" />
    <link rel="stylesheet" href="/style/common/footer.css" />
    <link rel="stylesheet" href="/style/common/pagination.css">
    <link rel="stylesheet" href="/style/product/shoppingCart.css" />
    <link rel="stylesheet" href="/style/product/aside.css">
    <link rel="stylesheet" href="/style/product/mainheader.css">
    <link
      rel="icon"
      href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png"
    />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script src="/js/common/header.js"></script>
    <script src="/js/common/footer.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="wrapper">
        <th:block th:insert="~{/common/header}"></th:block>
        <th:block th:insert="~{/_menu}"></th:block>

      <main>
        <div class="main">
            <aside class="aside1">
                <div>
                    <div class="bestPro">
                        <p><i class="fa-solid fa-tag"></i>베스트 상품</p>
                        <span class="sale">1</span>
                        <div>
                            <img src="/proDetail-img/img5.png" alt="이미지">
                        </div>
                        <div>
                            <p>상품명</p>
                            <del>30,000원</del>
                            <span class="sale">10%↓</span>
                            <p>27,000원</p>
                        </div>
                    </div>

                    <div class="items">
                        <div>
                            <span class="sale">2</span>
                            <img src="/proDetail-img/img5.png" alt="이미지">
                        </div>
                        <div class="productDescription">
                            <p>상품명</p>
                            <p><del>30,000원</del><span class="sale">10%↓</span></p>
                            <p>27,000원</p>
                        </div>
                    </div>
                    
                    <div class="items">
                        <div>
                            <span class="sale">3</span>
                            <img src="/proDetail-img/img5.png" alt="이미지">
                        </div>
                        
                        <div class="productDescription">
                            <p>상품명</p>
                            <p><del>30,000원</del><span class="sale">10%↓</span></p>
                            <p>27,000원</p>
                        </div>
                    </div>
                </div>
            </aside>

            <article class="article-body">
                <div class="article-header">
                  <div class="main-heder">
                      <p>장바구니</p>
                      <ul>
                          <li>HOME > </li>
                          <li>패션 · 의류 · 뷰티 > </li>
                          <li>장바구니</li>
                      </ul>
                  </div>
                <table class="list">
                    <tr class="table_hd">
                        <th><input type="checkbox"></th>
                        <th></th>
                        <th>상품명</th>
                        <th>수량</th>
                        <th>판매가</th>
                        <th>할인</th>
                        <th>포인트</th>
                        <th>배송비</th>
                        <th>총합</th>
                    </tr>
<!--                    <tr class="table_bd" th:each="product : ${cart}">-->
<!--                        <td><input type="checkbox"></td>-->
<!--                        <td>-->
<!--                            <img src="/proDetail-img/img5.png" alt="#">-->
<!--                        </td>-->
<!--                        <td>[[${product.name}]]</td>-->
<!--                        <td>[[${product.stock}]]</td>-->
<!--                        <td>[[${product.price}]]</td>-->
<!--                        <td>[[${product.discountRate}]]</td>-->
<!--                        <td>[[${product.point}]]</td>-->
<!--                        <td>무료배송</td>-->
<!--                        <td class="sumprice" th:text="${product.price - (product.price/100) * product.discountRate + '원'}"></td>-->
<!--                    </tr>-->
                    <tr class="table_bd" th:each="cart : ${cart}">
                        <td><input type="checkbox"></td>
                        <td>
                            <img src="/proDetail-img/img5.png" alt="#" th:src="@{${cart.product.imageUrl}}"> <!-- 이미지 URL이 Product에 있으면 이렇게 할 수 있습니다 -->
                        </td>
                        <td th:text="${cart.product.name}">상품명</td> <!-- Cart 객체에서 Product 객체로 접근 -->
                        <td th:text="${cart.number}">수량</td> <!-- 수량은 Cart 객체에서 가져옵니다 -->
                        <td th:text="${cart.product.price}">판매가</td> <!-- 판매가는 Product 객체에서 가져옵니다 -->
                        <td th:text="${cart.product.discountRate}">할인율</td> <!-- 할인율은 Product 객체에서 가져옵니다 -->
                        <td th:text="${cart.product.point}">포인트</td> <!-- 포인트는 Product 객체에서 가져옵니다 -->
                        <td>무료배송</td> <!-- 고정으로 "무료배송" -->
                        <td class="sumprice" th:text="${cart.product.price * cart.number - (cart.product.price * cart.number * cart.product.discountRate / 100)}">총합</td> <!-- 총합 계산 -->
                    </tr>
                </table>

                <div class="shopping">
                    <div class="delete">
                        <button>선택삭제</button>
                    </div>
                    
    
                    <form action="#" class="shopping-Box">

                        <div class="sum">
                            <p>전체합계</p>
                        </div>
                        <div class="form-box">
                            <div class="form-body">
                                <span>상품수</span>
                                <span>1</span>
                            </div>
    
                            <div class="form-body">
                                <span>상품금액</span>
                                <span>27,000</span>
                            </div>
    
                            <div class="form-body">
                                <span>할인금액</span>
                                <span>-1,350</span>
                            </div>
    
                            <div class="form-body">
                                <span>배송비</span>
                                <span>0</span>
                            </div>
    
                            <div class="form-body">
                                <span>전체주문 금액</span>
                                <span class="sumprice">25,650</span>
                            </div>
    
                            <div class="form-body">
                                <span>적립 포인트</span>
                                <span>270</span>
                            </div>
                        </div>

                        <div class="form-btn">
                            <input type="submit" value="주문하기">
                        </div>
                    </form>
    
                </div>
                
                   
               </div>

               

            </article>


        </div>





        <section class="pagination">
          <a class="page move" href="#">
            <i class="fa-solid fa-angles-left"></i>
          </a>
          <a class="page move" href="#">
            <i class="fa-solid fa-chevron-left"></i>
          </a>
          <a class="page" href="">1</a>
          <a class="page" href="">2</a>
          <a class="page" href="">3</a>
          <a class="page" href="">4</a>
          <a class="page move" href="#">
            <i class="fa-solid fa-chevron-right"></i>
          </a>
          <a class="page move" href="#">
            <i class="fa-solid fa-angles-right"></i>
          </a>
        </section>
      </main>

        <th:block th:insert="~{/common/footer}"></th:block>

    </div>
  </body>
</html>
