<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>롯데ON</title>
    <link rel="stylesheet" href="/style/init.css" />
    <link rel="stylesheet" href="/style/index.css" />
    <link rel="stylesheet" href="/style/common/header.css" />
    <link rel="stylesheet" href="/style/common/footer.css" />
    <link rel="stylesheet" href="/static//style/common/pagination.css" />
    <link rel="stylesheet" href="/style/common/myPage/myPageMain.css">
    <link rel="stylesheet" href="/style/common/myPage/myPagehead.css">
    <link rel="stylesheet" href="/style/common/myPage/myPageSide.css">
    <link rel="stylesheet" href="/style/common/myPage/pointPage.css">
    <link rel="stylesheet" href="/style/common/myPage/inquiry.css">
    <link rel="stylesheet" href="/style/common/myPage/modal/modalBack.css">
    <link rel="stylesheet" href="/style/common/myPage/modal/order-modal.css">
    <link rel="stylesheet" href="/style/common/myPage/modal/seller-modal.css">
    <link rel="stylesheet" href="/style/common/myPage/modal/inquiry-modal.css">
    <link rel="stylesheet" href="/style/common/myPage/modal/confirm-modal.css">
    <link rel="stylesheet" href="/style/common/myPage/modal/exchange-modal.css">
    <link rel="stylesheet" href="/style/common/myPage/modal/return-modal.css">
    <link rel="stylesheet" href="/style/common/myPage/modal/review-modal.css">
    <link
      rel="icon"
      href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png"
    />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script src="/js/common/header.js"></script>
    <script src="/js/common/footer.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/mypage/order-info-modal.js"></script>
    <script src="/js/mypage/seller-info-modal.js"></script>
    <script src="/js/mypage/confirm-info-modal.js"></script>
    <script src="/js/mypage/exchange-info-modal.js"></script>
    <script src="/js/mypage/return-info-modal.js"></script>
    <script src="/js/mypage/review-info-modal.js"></script>
    <script src="/js/common/rating.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <div id="header-wrapper">
          <div id="account-area">
            <ul>
              <li>
                <a href="#"> 고객센터 </a>
              </li>
              <li>
                <a href="#"> 주문배송 </a>
              </li>
              <li>
                <a href="#"> 로그인/회원가입 </a>
              </li>
            </ul>
          </div>
          <div id="header-area">
            <div id="logo-area">
              <img
                src="https://static.lotteon.com/p/common/foCommon/assets/img/logo_lotte-on@2x.png"
                alt="logo"
              />
            </div>

            <div id="search-area">
              <input type="text" placeholder="검색어를 입력하세요" />
              <button>
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>

            <div id="button-area">
              <a href="#">
                <i class="fa-regular fa-comment-dots"></i>
                <span> 챗봇 </span>
              </a>
              <a href="#">
                <i class="fa-regular fa-heart"></i>
                <span> 나의 찜 </span>
              </a>
              <a href="#">
                <i class="fa-regular fa-user"></i>
                <span> 마이롯데 </span>
              </a>
              <a href="#">
                <i class="fa-solid fa-basket-shopping"></i>
                <span> 장바구니 </span>
              </a>
            </div>
          </div>
        </div>
        <nav id="quick-menu">
          <ul>
            <li id="drop-btn" class="category-drop">
              <i class="fa-solid fa-bars"></i>
            </li>
            <li>
              <a href="#">홈</a>
            </li>
            <li>
              <a href="#">특가</a>
            </li>
            <li>
              <a href="#">패션</a>
            </li>
            <li>
              <a href="#">뷰티</a>
            </li>
            <li>
              <a href="#">라이프</a>
            </li>
            <li>
              <a href="#">베스트</a>
            </li>
            <li>
              <a href="#">여행</a>
            </li>
            <li>
              <a href="#">백화점</a>
            </li>
            <li>
              <a href="#">내일ON다</a>
            </li>
            <li>
              <a href="#">이벤트</a>
            </li>
          </ul>
        </nav>
      </header>
      <ul id="menu" style="display: none">
        <li>
          <a href="#">뷰티</a>
          <ul>
            <li>
              <a href="#">럭셔리 스킨케어</a>
            </li>
            <li>
              <a href="#">클렌징</a>
            </li>
            <li>
              <a href="#">스킨/토너</a>
            </li>
            <li>
              <a href="#">로션/에멀젼</a>
            </li>
            <li>
              <a href="#">에센스/세럼</a>
            </li>
            <li>
              <a href="#">크림</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">남성패션</a>
          <ul>
            <h3>브랜드패션</h3>
            <li>
              <a href="#">브랜드의류</a>
            </li>
            <li>
              <a href="#">브랜드캐쥬얼</a>
            </li>
            <li>
              <a href="#">브랜드가방/지갑</a>
            </li>
            <li>
              <a href="#">브랜드신발</a>
            </li>
            <li>
              <a href="#">브랜드잡화</a>
            </li>
            <li>
              <a href="#">브랜드언더웨어</a>
            </li>
            <li>
              <a href="#">브랜드시계</a>
            </li>
            <li>
              <h3>패션의류/잡화</h3>
            </li>
            <a href="#">의류</a>
            <li>
              <a href="#">가방/지갑</a>
            </li>
            <li>
              <a href="#">신발</a>
            </li>
            <li>
              <a href="#">패션잡화</a>
            </li>
            <li>
              <a href="#">언더웨어</a>
            </li>
            <li>
              <a href="#">시계</a>
            </li>
            <li>
              <a href="#">주얼리</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">여성패션</a>
          <ul>
            <h3>브랜드패션</h3>
            <li>
              <a href="#">브랜드의류</a>
            </li>
            <li>
              <a href="#">브랜드캐쥬얼</a>
            </li>
            <li>
              <a href="#">브랜드가방/지갑</a>
            </li>
            <li>
              <a href="#">브랜드신발</a>
            </li>
            <li>
              <a href="#">브랜드잡화</a>
            </li>
            <li>
              <a href="#">브랜드언더웨어</a>
            </li>
            <li>
              <a href="#">브랜드시계</a>
            </li>
            <h3>패션의류/잡화</h3>
            <li>
              <a href="#">의류</a>
            </li>
            <li>
              <a href="#">가방/지갑</a>
            </li>
            <li>
              <a href="#">신발</a>
            </li>
            <li>
              <a href="#">패션잡화</a>
            </li>
            <li>
              <a href="#">언더웨어</a>
            </li>
            <li>
              <a href="#">시계</a>
            </li>
            <li>
              <a href="#">주얼리</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">럭셔리</a>
        </li>
        <li>
          <a href="#">유아동</a>
        </li>
        <li>
          <a href="#">스포츠/레저</a>
        </li>
        <li>
          <a href="#">식품</a>
        </li>
        <li>
          <a href="#">생활/건강</a>
        </li>
        <li>
          <a href="#">컴퓨터/게임/모바일</a>
        </li>
        <li>
          <a href="#">가전</a>
        </li>
        <li>
          <a href="#">가구/인테리어</a>
        </li>
        <li>
          <a href="#">자동차/공구</a>
        </li>
        <li>
          <a href="#">반려동물</a>
        </li>
        <li>
          <a href="#">취미/문구/도서</a>
        </li>
        <li>
          <a href="#">여행/e쿠폰</a>
        </li>
        <li>
          <a href="#">해외직구</a>
        </li>
        <li>
          <a href="#">온누리</a>
        </li>
      </ul>

      <main>

        <header class="myShopping-info">
            <div class="header-title">
                <p>나의 쇼핑정보</p>
            </div>

            <ul class="item-list">
                <li>
                    <p>주문</p>
                    <p>2</p>
                </li>

                <li>
                    <p>쿠폰</p>
                    <p>1</p>
                </li>

                <li>
                    <p>포인트</p>
                    <p>1,000</p>
                </li>

                <li>
                    <p>문의</p>
                    <p>1</p>
                </li>
            </ul>
        </header>

        <div class="body-wrap">
            <aside class="sideBar">
                <ul>
                    <a href="#"><li>전체주문내역</li></a>
                    <a href="#"><li>포인트내역</li></a>
                    <a href="#"><li>쿠폰</li></a>
                    <a href="#"><li>나의리뷰</li></a>
                    <a href="#"><li>문의하기</li></a>
                    <a href="#"><li>나의설정</li></a>
                </ul>
            </aside>
            
            <div class="content-box">
                <div class="event-img">
                    <img src="/proDetail-img/advertisement.jpg" alt="광고 이미지">
                </div>

                <div class="all-orderList">
                    <div class="list-head">
                        <p>최근주문내역</p>
                        <a href="#"><span>더보기 ></span></a>
                    </div>

                    <table class="main-table">
                        <tr class="table-hd">
                            <th>날짜</th>
                            <th>상품정보</th>
                            <th>상태</th>
                            <th>확인/신청</th>
                        </tr>

                        <tr class="table-bd">
                            <td>2022-12-13</td>
                            <td>
                                <div class="pro-info">
                                    <div class="table-proimg">
                                        <img src="/proDetail-img/img5.png" alt="이미지">
                                    </div>
                                    <div class="order-info">
                                        <a href="#" id="orderModal"><p>주문번호 :<span>1012211341</span></p></a>
                                        <a href="#" id="sellerModal"><p>(주) 상호명</p></a>
                                        <p>수량 : <span>1개</span></p>
                                        <p class="price">34,000원</p>
                                    </div>
                                </div>
                            </td>
                            <td class="sa">배송완료</td>
                            <td>
                                <div class="btn-option">
                                    <button id="confirmModal">구매확정</button>
                                    <button id="reviewModal">상품평쓰기</button>
                                    <button id="returnModal">반품신청</button>
                                    <button id="exchangeModal">교환신청</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
              

                <div class="point-list">
                  <div class="list-head">
                      <p>포인트적립내역</p>
                      <a href="#"><span>더보기 ></span></a>
                  </div>

                  <table class="point-table">
                      <tr class="table-hd">
                          <th>날짜</th>
                          <th>구분</th>
                          <th>주문번호</th>
                          <th>적립금액</th>
                          <th>비고</th>
                          <th>유효기간</th>
                      </tr>

                      <tr>
                          <td>2022-12-13</td>
                          <td>적립</td>
                          <td>2022121001</td>
                          <td>340</td>
                          <td>상품 구매확정</td>
                          <td>2024-12-10</td>
                      </tr>

                      <tr>
                          <td>2022-12-13</td>
                          <td>적립</td>
                          <td>2022121001</td>
                          <td>340</td>
                          <td>상품 구매확정</td>
                          <td>2024-12-10</td>
                      </tr>
                  </table>

                  <div class="list-head">
                      <p>상품평</p>
                      <a href="#"><span>더보기 ></span></a>
                  </div>

                  <table class="product-revies">
                      <tr class="table-hd">
                          <th>번호</th>
                          <th>상품명</th>
                          <th>내용</th>
                          <th>평점</th>
                          <th>작성일</th>
                      </tr>

                      <tr>
                          <td>1</td>
                          <td>상품번호 / 상품평</td>
                          <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                          <td>★★★★☆</td>
                          <td>2024-12-10</td>
                      </tr>

                      <tr>
                          <td>1</td>
                          <td>상품번호 / 상품평</td>
                          <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                          <td>★★★★☆</td>
                          <td>2024-12-10</td>
                      </tr>

                      <tr>
                          <td>1</td>
                          <td>상품번호 / 상품평</td>
                          <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                          <td>★★★★☆</td>
                          <td>2024-12-10</td>
                      </tr>
                  </table>
              </div>

              <div class="point-list">
                   
                <div class="list-head">
                    <p>문의내역</p>
                    <a href="#"><span>더보기 ></span></a>
                </div>

                <table class="product-revies">
                    <tr class="table-hd">
                        <th>번호</th>
                        <th>문의채널</th>
                        <th>문의유형</th>
                        <th>제목</th>
                        <th>작성일</th>
                        <th>상태</th>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>고객센터</td>
                        <td>주문 / 결제</td>
                        <td>신용카드 결제 중 오류가 난 경우 어떻게 하나요?</td>
                        <td>2024-12-10</td>
                        <td class="ing">검토 중</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>고객센터</td>
                        <td>주문 / 결제</td>
                        <td>신용카드 결제 중 오류가 난 경우 어떻게 하나요?</td>
                        <td>2024-12-10</td>
                        <td class="ok">답변완료</td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>판매자 게시판</td>
                        <td>배송</td>
                        <td>배송기간이 보통 얼마나 걸리나요?</td>
                        <td>2024-12-10</td>
                        <td class="ok">답변완료</td>
                    </tr>
                </table>
            </div>

            <div class="my-setting">
                <p>나의 설정</p>

                <div class="setting-box">

                  <div class="delivery-box">
                    <div class="delivery-setting">
                      <span>기본배송지 설정</span>
                      <a href="#">변경</a>
                    </div>
                    
                    <div>
                      <p>부산광역시 부산진구 대연동 120</p>
                      <p>한빛빌딩 10층</p>
                    </div>
                  </div>

                  <div class="email-box">
                    <div class="email-setting">
                      <span>Email 설정</span>
                      <a href="#">변경</a>
                    </div>
                    
                    <div>
                      <p>abc123@naver.com</p>
                      <p>(최종수정일 2021-12-10)</p>
                    </div>

                  </div>

                  <div class="phone-box">
                    <div class="phone-setting">
                      <span>휴대폰 설정</span>
                      <a href="#">변경</a>
                    </div>

                    <div>
                      <p>010-1234-1001</p>
                      <p>(최종수정일 2021-12-10)</p>
                    </div>
                  </div>
                </div>

            </div>
          </div>


           <div class="modal-back" id="order-info-modal">
        <div id="modal-wrapper">
            <div class="modal-hd">
                <p>주문상세</p>
                <button id="order-close">x</button>
            </div>

            <div class="orderList">
                <div class="list-head">
                    <p>주문정보</p>
                </div>

                <table class="order-table">
                    <tr class="table-head">
                        <th>날짜</th>
                        <th>상품정보</th>
                        <th class="price-t">결제금액</th>
                        <th class="end">상태</th>
                    </tr>

                    <tr class="table-body">
                        <td>2022-12-13</td>
                        <td>
                            <div class="p-info">
                                <div class="proimg">
                                    <img src="/proDetail-img/img5.png" alt="이미지">
                                </div>
                                <div class="o-info">
                                    <p>주문번호 :<span>1012211341</span></p>
                                    <p>(주) 상호명</p>
                                    <p>상품명</p>
                                    <p>수량 : <span>1개</span></p>
                                    <p class="price">34,000원</p>
                                </div>
                            </div>
                        </td>
                        <td class="price-t">
                            <div class="p-info2">
                                <div class="o-info2">
                                    <p>판매가 :<span>34,000원</span></p>
                                    <p>할인<span>-3,000원</span></p>
                                    <p>결제금액 :<span class="price">34,000원</span></p>
                                </div>
                            </div>
                        </td>
                        <td class="end">배송완료</td>
                    </tr>
                </table>
            </div>

            <div class="all-deliveryList">
                <div class="list-head">
                    <p>배송정보</p>
                </div>

                <table class="delivery-table">
                    <tr>
                        <td class="td-l">이름</td>
                        <td class="td-r">홍길동</td>
                    </tr>

                    <tr>
                        <td class="td-l">연락처</td>
                        <td class="td-r">010-1234-1001</td>
                    </tr>

                    <tr>
                        <td class="td-l">주소</td>
                        <td class="td-r">[21000] 부산광역시 부산진구 대연동 121 10층 1004호</td>
                    </tr>

                    <tr>
                        <td class="td-l">배송요청사항</td>
                        <td class="td-r">없음</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
            
        
        <div class="modal-back" id="seller-info-modal">
          <div id="modal-wrapper">
              <div class="modal-hd">
                  <p>주문상세</p>
                  <button id="seller-close">x</button>
              </div>
      
              <div class="sellerList">
                  <table class="seller-Table">
                      <tr>
                          <td class="td-l">판매자 등급</td>
                          <td class="td-r">파워 딜러</td>
                      </tr>
      
                      <tr>
                          <td class="td-l">상호</td>
                          <td class="td-r">(주) 상호명</td>
                      </tr>
      
                      <tr>
                          <td class="td-l">대표자</td>
                          <td class="td-r">홍길동</td>
                      </tr>
      
                      <tr>
                          <td class="td-l">전화번호</td>
                          <td class="td-r">051-123-1000</td>
                      </tr>
      
                      <tr>
                          <td class="td-l">FAX</td>
                          <td class="td-r">051-123-1001</td>
                      </tr>
      
                      <tr>
                          <td class="td-l">Email</td>
                          <td class="td-r">company@abc.com</td>
                      </tr>
      
                      <tr>
                          <td class="td-l">사업자번호</td>
                          <td class="td-r">123-12-123457</td>
                      </tr>
      
                      <tr>
                          <td class="td-l">영업소 재지</td>
                          <td class="td-r">[21000] 부산광역시 부산진구 대연동 121 10층 1004호</td>
                      </tr>
                  </table>
      
                  <div class="etc">
                      <p><span>*</span> 위 정보는 전자상거래 법 제 20조 제 2항 및 동 법 시행령 제 25조 제 2창에 의거하여 소비자 보호에 의거 공개합니다.</p>
                  </div>
      
                  <div class="inquiry">
                      <button id="inquiryModal">문의하기</button>
                  </div>
              </div>
          </div>
      </div>


      <div class="modal-back3" id="inquiry-info-modal">
        <div id="modal3-wrapper">

            <div class="modal-hd">
                <p>문의하기</p>
                <button class="close-btn" id="inquiry-close">x</button>
            </div>

            <div class="all-orderList">
                <form>
                    <table class="inquiry-table">
                        <tr>
                            <td class="td-lf">문의종류</td>
                            <td class="td-rg">
                                <div>
                                    <label><input type="radio">상품</label>
                                    <label><input type="radio">배송</label>
                                    <label><input type="radio">반품/취소</label>
                                    <label><input type="radio">교환</label>
                                    <label><input type="radio">기타</label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="td-lf">Email</td>
                            <td class="td-rg">
                                <div>
                                    <input type="text" placeholder="이메메일 입력" class="form-input">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="td-lf">제목</td>
                            <td class="td-rg">
                                <div>
                                    <input type="text" placeholder="제목 입력" class="form-input">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="td-lf">내용</td>
                            <td class="td-rg" id="td-l">
                                <div class="form-input2">
                                    <input type="text">
                                </div>
                            </td>
                        </tr>
                    </table>

                    <div class="btn-box">
                        <input type="submit" value="등록하기" id="submit-btn"></input>
                        <button type="button" id="close-btn">취소</button>
                    </div>
                </form>
                
            </div>
        </div>

    </div>





      <div class="modal-back" id="confirm-info-modal">
        <div id="modal-wrapper" style="width: 500px; height: 300px;">
    
                <div class="modal-hd">
                    <p>구매확정</p>
                    <button class="close-confirm">x</button>
                </div>

                <div class="all-orderList">

                    

                    <div class="etc">
                        <p>상품을 받으셨나요 ?<br><br>
                        상품을 받으신분만 구매확정을 해주세요.
                        </p>
                    </div>

                    <div class="inquiry">
                        <button onclick="alert('구매확정이 완료되었습니다.')">확인</button>
                        <button class="close-confirm" style="background-color: #bfbfbf;">취소</button>
                    </div>
                </div>
        </div>
    </div>





        <div class="modal-back" id="review-info-modal">
          <div id="modal-wrapper">
                  <div class="modal-hd">
                      <p>상품평 작성하기</p>
                      <button class="close-review">x</button>
                  </div>

                  <div class="all-orderList">

                      <form name="" action="" method="post">
                          <table>
                              <tr>
                                  <td class="td-l">상품명</td>
                                  <td class="td-r"><input type="text" name="uid" value="상품명 출력" readonly style="border: none;"></td>
                              </tr>

                              <tr>
                                  <td class="td-l">만족도</td>
                                  <td class="td-r">
                                      <div class="rating">
                                          <span data-value="1">★</span>
                                          <span data-value="2">★</span>
                                          <span data-value="3">★</span>
                                          <span data-value="4">★</span>
                                          <span data-value="5">★</span>
                                          <input type="hidden" name="rating" value="0">
                                      </div>
                                  </td>
                              </tr>

                              <tr>
                                  <td class="td-l">내용</td>
                                  <td class="td-r"><textarea name="content" id=""></textarea></td>
                              </tr>

                              <tr>
                                  <td class="td-l">사진</td>
                                  <td class="td-r" style="height: 100px; line-height: 2;">
                                      <input type="file" name="file1"><br>
                                      <input type="file" name="file2"><br>
                                      <input type="file" name="file3">
                                  </td>
                              </tr>
                          </table>

                          <div class="inquiry">
                              <button>작성하기</button>
                              <button class="close-review" type="button" style="background-color: #bfbfbf;">취소하기</button>
                          </div>

                      </form>
                  </div>
          </div>
      </div>




      <div class="modal-back" id="return-info-modal">
        <div id="modal-wrapper">
    
                <div class="modal-hd">
                    <p>반품신청</p>
                    <button class="close-return">x</button>
                </div>

                <div class="all-orderList">

                    <div class="list-head">
                        <p>상품정보</p>
                    </div>
    
                    <table class="order-table">
                        <tr class="table-hd">
                            <th>날짜</th>
                            <th>상품정보</th>
                            <th class="price-t">결제금액</th>
                            <th class="end">상태</th>
                        </tr>
    
                        <tr class="table-bd">
                            <td>2022-12-13</td>
                            <td>
                                <div class="pro-info">
                                    <div class="table-proimg">
                                        <img src="/proDetail-img/img5.png" alt="이미지">
                                    </div>
                                    <div class="order-info">
                                        <p>주문번호 :<span>1012211341</span></p>
                                        <p>(주) 상호명</p>
                                        <p>상품명</p>
                                        <p>수량 : <span>1개</span></p>
                                        <p class="price">34,000원</p>
                                    </div>
                                </div>
                            </td>
                            <td class="price-t">
                                <div class="pro-info2">
                                    <div class="order-info2">
                                        <p>판매가 :<span>34,000원</span></p>
                                        <p>할인<span>-3,000원</span></p>
                                        <p>결제금액 :<span class="price">34,000원</span></p>
                                    </div>
                                </div>
                            </td>
                            <td class="end">배송완료</td>
                        </tr>
                    </table>
                    
                    
                </div>

                <div class="all-deliveryList">
                    <div class="list-head">
                        <p>반품정보 입력</p>
                    </div>
                    
                    <form name="formRegister" action="" method="post">
                        <table class="delivery-table">
                            <tr>
                                <td class="td-l">반품유형</td>
                                <td class="td-r">
                                    <label><input type="radio" name="exchange" value="simple"> 단순 교환</label>
                                    <label style="margin-left: 20px;"><input type="radio" name="exchange" value="damage"> 파손 및 불량</label>
                                    <label style="margin-left: 20px;"><input type="radio" name="exchange" value="mistake"> 주문 실수</label>
                                    <label style="margin-left: 20px;"><input type="radio" name="exchange" value="etc"> 기타</label>
                                </td>
                            </tr>
        
                            <tr>
                                <td class="td-l">사유입력</td>
                                <td class="td-r"><textarea name="content" id=""></textarea></td>
                            </tr>
        
                            <tr>
                                <td class="td-l">사진첨부(선택)</td>
                                <td class="td-r">
                                    <input type="file" name="file1">
                                </td>
                            </tr>
        
                        </table>

                        <div class="inquiry">
                            <button>반품신청</button>
                            <button class="close-return" type="button" style="background-color: #bfbfbf;">취소하기</button>
                        </div>

                    </form>
                </div>

        </div>
    </div>




    <div class="modal-back" id="exchange-info-modal">
      <div id="modal-wrapper">
  
              <div class="modal-hd">
                  <p>교환신청</p>
                  <button class="close-exchange">x</button>
              </div>

              <div class="all-orderList">

                  <div class="list-head">
                      <p>상품정보</p>
                  </div>
  
                  <table class="order-table">
                      <tr class="table-hd">
                          <th>날짜</th>
                          <th>상품정보</th>
                          <th class="price-t">결제금액</th>
                          <th class="end">상태</th>
                      </tr>
  
                      <tr class="table-bd">
                          <td>2022-12-13</td>
                          <td>
                              <div class="pro-info">
                                  <div class="table-proimg">
                                      <img src="/proDetail-img/img5.png" alt="이미지">
                                  </div>
                                  <div class="order-info">
                                      <p>주문번호 :<span>1012211341</span></p>
                                      <p>(주) 상호명</p>
                                      <p>상품명</p>
                                      <p>수량 : <span>1개</span></p>
                                      <p class="price">34,000원</p>
                                  </div>
                              </div>
                          </td>
                          <td class="price-t">
                              <div class="pro-info2">
                                  <div class="order-info2">
                                      <p>판매가 :<span>34,000원</span></p>
                                      <p>할인<span>-3,000원</span></p>
                                      <p>결제금액 :<span class="price">34,000원</span></p>
                                  </div>
                              </div>
                          </td>
                          <td class="end">배송완료</td>
                      </tr>
                  </table>
                  
                  
              </div>

              <div class="all-deliveryList">
                  <div class="list-head">
                      <p>교환정보 입력</p>
                  </div>
                  
                  <form name="formRegister" action="" method="post">
                  <table class="delivery-table">
                      <tr>
                          <td class="td-l">교환유형</td>
                          <td class="td-r">
                              <label><input type="radio" name="exchange" value="simple"> 단순 교환</label>
                              <label style="margin-left: 20px;"><input type="radio" name="exchange" value="damage"> 파손 및 불량</label>
                              <label style="margin-left: 20px;"><input type="radio" name="exchange" value="mistake"> 주문 실수</label>
                              <label style="margin-left: 20px;"><input type="radio" name="exchange" value="etc"> 기타</label>
                          </td>
                      </tr>
  
                      <tr>
                          <td class="td-l">사유입력</td>
                          <td class="td-r"><textarea name="content" id=""></textarea></td>
                      </tr>
  
                      <tr>
                          <td class="td-l">사진첨부(선택)</td>
                          <td class="td-r">
                              <input type="file" name="file1">
                          </td>
                      </tr>
  
                  </table>

                  <div class="inquiry">
                      <button>반품신청</button>
                      <button class="close-exchange" type="button" style="background-color: #bfbfbf;">취소하기</button>
                  </div>
              </form>
              </div>

      </div>
  </div>









            
          
              
      
    
    
            </div>
        </div>
            

        </div>






        <section class="pagination">
          <a class="page move" href="#">
            <i class="fa-solid fa-angles-left"></i>
          </a>
          <a class="page move" href="#">
            <i class="fa-solid fa-chevron-left"></i>
          </a>
          <a class="page" href="">1</a>
          <a class="page" href="">2</a>
          <a class="page" href="">3</a>
          <a class="page" href="">4</a>
          <a class="page move" href="#">
            <i class="fa-solid fa-chevron-right"></i>
          </a>
          <a class="page move" href="#">
            <i class="fa-solid fa-angles-right"></i>
          </a>
        </section>
      </main>
      <footer>
        <div id="footer-shortcut-wrapper">
          <div id="footer-shortcut">
            <nav>
              <a href="#" class="footer-nav">회사소개</a>
              <a href="#" class="footer-nav">이용약관</a>
              <a href="#" class="footer-nav">전자금융거래약관</a>
              <a href="#" class="footer-nav">개인정보처리방침</a>
              <a href="#" class="footer-nav">청소년보호방침</a>
              <a href="#" class="footer-nav">임직원등록</a>
              <a href="#" class="footer-nav">준법경영</a>
              <a href="#" class="footer-nav">오류신고</a>
              <a href="#" class="footer-nav">리서치 패널가입</a>
            </nav>
            <div id="selectors">
              <button class="footer-drop-btn family-site">
                <span>Family Site</span>
                <i class="fa-solid fa-caret-down"></i>
              </button>
              <ul class="footer-selectors family-site">
                <li>
                  <a href="http://www.lotte.co.kr/">롯데지주</a>
                </li>
                <li>
                  <a href="http://www.lottecon.co.kr/">롯데건설</a>
                </li>
                <li>
                  <a href="http://www.lotteglogis.com/">롯데글로벌로지스</a>
                </li>
                <li>
                  <a href="http://www.lottelem.co.kr/">롯데기공</a>
                </li>
                <li>
                  <a href="http://www.lottebp.co.kr/">롯데비피화학</a>
                </li>
                <li>
                  <a href="http://www.lotterentacar.net/">롯데렌탈</a>
                </li>
                <li>
                  <a href="http://www.llc.co.kr/">롯데로지스틱스</a>
                </li>
                <li>
                  <a href="http://www.lotteria.com/">롯데리아</a>
                </li>
                <li>
                  <a href="http://www.lottedfs.com/">롯데면세점</a>
                </li>
                <li>
                  <a href="http://www.lpoint.com/">롯데멤버스</a>
                </li>
              </ul>
              <button class="footer-drop-btn seller-service">
                <span>판매자서비스</span>
                <i class="fa-solid fa-caret-down"></i>
              </button>
              <ul class="footer-selectors seller-service">
                <li>
                  <a href="#"> 입점신청 </a>
                </li>
                <li>
                  <a href="#"> 판매자 센터 </a>
                </li>
                <li>
                  <a href="#"> 판매자교육 센터 </a>
                </li>
                <li>
                  <a href="#"> API 센터 </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <table id="footer-content">
          <tbody>
            <tr>
              <td>
                <img
                  src="https://contents.lotteon.com/ec/public/common-bi-lotteon.png"
                  alt="logo"
                  class="footer-logo"
                />
              </td>
              <td>
                <h3>롯데쇼핑 주식회사</h3>
                <p>
                  대표이사: 김사무엘상현, 신동빈, 정준호, 강성현 <br />
                  주소: 서울특별시 강남구 테헤란로 507 (삼성동, WeWork빌딩),
                  7층<br />
                  사업자등록번호 : 529-85-00774(롯데쇼핑(주) e커머스사업부)
                  <br />
                  통신판매업 신고 : 2024-서울강남-04439 사업자 정보 확인 <br />
                  호스팅 서비스사업자 : 롯데쇼핑(주) e커머스사업부사업자등록번호
                </p>
              </td>
              <td>
                <h4>고객센터</h4>
                <p>
                  전화번호 : 1899-7000(유료) <br />
                  E-mail : lotteon@lotte.net
                </p>
                <a href="#"> 분쟁해결기준 </a>
                <div class="service-shortcut">
                  <a href="#">FAQ보기</a>
                  <a href="#">1:1 문의하기</a>
                  <a href="#">고객센터</a>
                  <a href="#">공지사항</a>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <h4>롯데쇼핑 e커머스 사업부 에스크로</h4>
                <p>
                  고객님의 안전거래를 위해 현금 등으로 결제 시 결제금액 전액에
                  대해
                  <br />
                  소비자 피해 방지 서비스를 이용합니다.
                </p>
              </td>
              <td>
                <h4>전자금융거래 분쟁 담당</h4>
                <p>Tel : 1899-7000(유료) <br /></p>
                <span>
                  E-mail:
                  <a href="#">lotteon@lotte.net</a>
                </span>
                <a href="https://www.lotteon.com/p/trustsafety/main"
                  >안전거래센터</a
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="contents-protection">
                <h3>콘텐츠산업진흥법에 의한 콘텐츠보호안내</h3>
                <span class="modal">자세히보기</span>
              </td>
            </tr>
          </tbody>
        </table>
        <div id="certificate-area">
          <img
            src="https://contents.lotteon.com/ec/public/footer-img-logo-2-2023.png"
            alt="online-shopping-association"
          />
          <img
            src="https://contents.lotteon.com/ec/public/footer-img-logo-3-2023.png"
            alt="tax"
          />
          <img
            src="https://contents.lotteon.com/ec/public/footer-img-logo-4-2023.png"
            alt="hazardous-product"
          />
          <img
            src="https://contents.lotteon.com/ec/public/footer-img-logo-5-2023.png"
            alt="손말이음"
          />
          <img
            src="https://contents.lotteon.com/ec/public/footer-img-logo-7-2023.png"
            alt="personal-info-protection"
          />
        </div>
        <section class="copyright">
          <div>
            <p>
              롯데쇼핑(주)는 통신판매중개자이며 통신판매의 거래당사자가
              아닙니다. 입점판매자가 등록한 상품정보 및 거래에 대해
              롯데쇼핑(주)는 일체 책임을 지지 않습니다.
            </p>
            <p>Copyright © LOTTESHOPPING Co., LTD. All rights reserved.</p>
          </div>
        </section>
        <div id="dialog" title="콘텐츠산업진흥법에 의한 표시">
          <img
            src="https://static.lotteon.com/p/common/foCommon/assets/img/footer_logo-content.png"
            alt="contents"
          />
          <ul>
            <li>
              <p>콘텐츠의 명칭: 상품정보 및 이벤트 정보 등</p>
            </li>
            <li>
              <p>
                콘텐츠 제작 연월일 : 2020년 3월 29일 <br />
                (또는, 콘텐츠가 업그레이드된 경우 그 갱신일)
              </p>
            </li>
            <li>
              <p>
                콘텐츠 제작자 : 롯데쇼핑(주) e커머스사업부 <br />
                서울특별시 송파구 올림픽로 300 롯데월드타워 26층 <br />
                Tel : 02-3668-8500 FAX : 02-3668-8501
              </p>
            </li>
            <li>
              <p>
                롯데쇼핑(주) e커머스사업부가 운영하는 홈페이지 내의 모든
                콘텐츠는 <br />
                콘텐츠산업 진흥법에 따라 제작일 또는 그 갱신일로부터 5년간
                보호됩니다. <br />
                (동의없는 무단 복제를 금함)
              </p>
            </li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
