<!--
  작성자: 손준오(sjo112777)
  내용: 고객센터 > 문의하기 보기 view
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>고객센터 >문의하기 보기</title>
    <link rel="stylesheet" href="/style/init.css" />
    <link rel="stylesheet" href="/style/index.css" />
    <link rel="stylesheet" href="/style/common/header.css" />
    <link rel="stylesheet" href="/style/common/footer.css" />
    <!--<link rel="stylesheet" href="//style/common/pagination.css" />-->
    <link rel="stylesheet" href="/style/cs/cscommon.css" />
    <link rel="stylesheet" href="/style/cs/cscontactview.css" />
    <link
      rel="icon"
      href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png"
    />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script src="/js/common/header.js"></script>
    <script src="/js/common/footer.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <th:block th:insert="~{/common/cs/csheader}"></th:block>

        <nav id="quick-menu">
          <ul>
            <li>
              <span>홈 > 문의하기</span>
            </li>
          </ul>
        </nav>
      </header>


      <main>
        <div class="csmain">
          <!-- 왼쪽 사이드바 -->
          <th:block th:insert="~{/common/cs/contactsidebar}"></th:block>
            <!-- 오른쪽 글 -->
            <article class="main_content">
              <div class="main_title">
                  <p>회원</p>
                  <span style="color: #808080; margin-top: 10px;">회원 관련 문의내용 입니다.</span>
              </div>
              <div class="main_content_detail">
                <table>                        
                  <tr>
                      <td><p>[가입] 가입문의내용</p>
                        chh***<span>2022.11.30</span>
                      </td>
                  </tr>
                  <tr>
                    <td>
                        회원가입하고 싶어요. 어떻게 해야하나요?
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <p>☞ [답변] 가입문의 내용</p>
                        안녕하세요. 회원님 회원가입 하시면 됩니다.
                    </td>
                  </tr>
                </table>
                <a href="" class="btn btnlist">목록</a>
              </div>

              
            </article>

        </div>




      </main>



      <th:block th:insert="~{/common/footer}"></th:block>
    </div>
  </body>
</html>
