<!--
  작성자: 손준오(sjo112777)
  내용: 고객센터 > 문의하기 보기 view
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>고객센터 >문의하기 보기</title>
    <link rel="stylesheet" href="/style/init.css" />
    <link rel="stylesheet" href="/style/index.css" />
    <link rel="stylesheet" href="/style/common/header.css" />
    <link rel="stylesheet" href="/style/common/footer.css" />
    <!--<link rel="stylesheet" href="//style/common/pagination.css" />-->
    <link rel="stylesheet" href="/style/cs/cscommon.css" />
    <link rel="stylesheet" href="/style/cs/cscontactwrite.css" />
    <link
      rel="icon"
      href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png"
    />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script src="/js/common/header.js"></script>
    <script src="/js/common/footer.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="wrapper">

      <th:block th:insert="~{/common/cs/csheader}"></th:block>
        <nav id="quick-menu">
          <ul>
            <li>
              <span>홈 > 문의하기</span>
            </li>
          </ul>
        </nav>
      </header>


      <main>
        <div class="csmain">
          <!-- 왼쪽 사이드바 -->
            <aside class="sidebar">
              <article class="side_content">             
                <div class="side_title">
                    <p>문의하기</p>
                </div>            
                <a href="#">
                  <div class="choice">회원</div>
              </a>
              <a href="#">
                  <div>쿠폰 / 이벤트</div>
              </a>
              <a href="#">
                  <div>주문 / 결제</div>
              </a>
              <a href="#">
                  <div>배송</div>
              </a>
              <a href="#">
                  <div>취소 / 반품 / 교환 </div>
              </a>
              <a href="#">
                  <div>여행 / 숙박 / 항공 </div>
              </a>
              <a href="#">
                  <div>안전거래</div>
              </a>
              </article>  
            </aside>
            <!-- 오른쪽 글 -->
            <article class="main_content">
              <div class="main_title">
                  <p>회원</p>
                  <span style="color: #808080; margin-top: 10px;">회원 관련 문의내용 입니다.</span>
              </div>
              <div class="main_content_detail">
                <form method="post" enctype="multipart/form-data" id="newsWriteForm">
                    <input type="hidden" name="writer" value=""/>
                    <table border="0" class="write_table">
                        <tbody>
                            <tr>
                                <th>문의유형</th>
                                <td>
                                    <select name="cate">
                                        <option value="news" selected="">회원</option>
                                        <option value="column" selected="">쿠폰/이벤트</option>
                                        <option value="column" selected="">주문/결제</option>
                                        <option value="column" selected="">배송</option>
                                        <option value="column" selected="">취소/반품/교환</option>
                                    </select>
                                    <select name="cate">
                                        <option value="news" selected="">가입</option>
                                        <option value="column" selected="">탈퇴</option>
                                        <option value="column" selected="">회원정보</option>
                                        <option value="column" selected="">로그인</option>
                                    </select>
                                </td>
                               
                            </tr>
                        <tr>
                            <th>제목</th>
                            <td>
                                <input type="text" name="title" placeholder="제목을 입력하세요.">
                            </td>
                        </tr>
                        <tr>
                            <th>내용</th>
                            <td>
                                <textarea name="content"></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="margin-top: 30px; margin-bottom: 30px; text-align: center;">
                        <a href="" class="btn btnCancel" style="color: #ffffff; background-color: #bfbfbf;">취소하기</a>
                        <input type="submit" value="등록하기" class="btn btnComplete btn">
                    </div>
                </form>
              </div>

              
            </article>

        </div>




      </main>



      <th:block th:insert="~{/common/footer}"></th:block>
    </div>
  </body>
</html>
