<!-- 약관 탭 -->
<ul class="terms-tabs">
    <li class="active">
        <a th:href="@{/templates/common/policy/buyer}">
            <i class="fa-solid fa-cart-shopping"></i> 구매회원 약관
        </a>
    </li>
    <li>
        <a th:href="@{/templates/common/policy/seller}">
            <i class="fa-solid fa-store"></i> 판매회원 약관
        </a>
    </li>
    <li>
        <a th:href="@{/templates/common/policy/finance}">
            <i class="fa-solid fa-credit-card"></i> 전자금융거래
        </a>
    </li>
    <li>
        <a th:href="@{/templates/common/policy/location}">
            <i class="fa-solid fa-location-dot"></i> 위치정보 약관
        </a>
    </li>
    <li>
        <a th:href="@{/templates/common/policy/privacy}">
            <i class="fa-solid fa-user-shield"></i> 개인정보처리
        </a>
    </li>
</ul>