<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style/common/myPage/myPagehead.css">
    <link rel="stylesheet" href="/static/style/common/myPage/myPageSide.css">
</head>
<body>

    <header class="myShopping-info">
        <div class="header-title">
            <p>나의 쇼핑정보</p>
        </div>

        <ul class="item-list">
            <li>
                <p>주문</p>
                <p>2</p>
            </li>

            <li>
                <p>쿠폰</p>
                <p>1</p>
            </li>

            <li>
                <p>포인트</p>
                <p>1,000</p>
            </li>

            <li>
                <p>문의</p>
                <p>1</p>
            </li>
        </ul>
    </header>

    <div class="body-wrap">
        <aside class="sideBar">
            <ul>
                <a href="#"><li>전체주문내역</li></a>
                <a href="#"><li>포인트내역</li></a>
                <a href="#"><li>쿠폰</li></a>
                <a href="#"><li>나의리뷰</li></a>
                <a href="#"><li>문의하기</li></a>
                <a href="#"><li>나의설정</li></a>
            </ul>
        </aside>

        <div class="content-box">
            <div class="event-img">
                <img src="/static/proDetail-img/advertisement.jpg" alt="광고 이미지">
            </div>
        </div>
    </div>
</body>
</html>
