<!--
  작성자: 손준오(sjo112777)
  내용: 회원 > 아이디찾기
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>회원 > 아디찾기</title>
    <link rel="stylesheet" href="/style/init.css" />
    <link rel="stylesheet" href="/style/index.css" />
    <link rel="stylesheet" href="/style/common/header.css" />
    <link rel="stylesheet" href="/style/common/footer.css" />
    <!--<link rel="stylesheet" href="/style/common/pagination.css" />-->
    <link rel="stylesheet" href="/style/user/findid.css" />
    <link rel="icon" href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script src="/js/common/header.js"></script>
    <script src="/js/common/footer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body>
<div id="wrapper">
    <!-- HEADER -->
    <th:block th:insert="~{/common/user/userheader}"></th:block>
    <!-- MAIN -->
    <main>
        <div class="csmain">
            <article class="main_content">
                <div class="main_title">
                    <p>아이디찾기</p>
                </div>

                <div class="main_content_detail">


                    <section id="find-pw">
                        <h2>아이디 찾기</h2>
                        <p style="text-align: center;">가입 시 등록한 아이디와 이메일 주소를 입력해 주세요.</p>
                        <form id="find-id-form">
                            <div class="input-box">
                                <input type="text" id="user-name" placeholder="이름 입력" required>
                            </div>
                            <div class="input-box" style="display: flex; align-items: center;">
                                <input type="email" id="user-email" placeholder="이메일 주소 입력" required style="flex: 1.2; margin-right: 10px;">
                                <button type="button" id="verify-btn" class="btn verify-btn" style="padding: 5px 15px; background: #071F4B;">인증하기</button>
                            </div>
                            <div class="input-box" id="verification-box" style="display:none;">
                                <input type="text" id="verification-code" placeholder="인증코드 입력" required>
                                <button id="btnAuthEmail" type="button" class="btn">확인</button>
                            </div>
                            <div>
                                <span class="result"></span>
                            </div>
                            <div class="btn-container">
                                <button type="button" class="btn cancel-btn">취소</button>
                                <button type="submit" class="btn login-btn" disabled>아이디 찾기</button>
                            </div>
                        </form>


                    </section>


                </div>
            </article>
        </div>
    </main>

    <!-- FOOTER -->
    <th:block th:insert="~{/common/footer}"></th:block>
</div>
</body>
</html>