<link rel="stylesheet" href="/style/common/header.css" />
<link
        rel="stylesheet"
        href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css"
/>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
<script src="/js/common/header.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
        crossorigin="anonymous"
></script>
<header>
    <div id="header-wrapper">
        <div id="account-area">
            <ul>
                <li><a href="/cs/csmain">고객센터</a></li>
                <li><a href="/common/myPage/mypageMain">주문배송</a></li>
                <li><a href="/user/login">로그인/회원가입</a></li>
            </ul>
        </div>
        <div id="header-area">
            <div id="logo-area">
                <a href="/">
                <img src="https://static.lotteon.com/p/common/foCommon/assets/img/logo_lotte-on@2x.png" alt="logo" />
                </a>
            </div>
        </div>
    </div>
    <nav id="quick-menu"></nav>
</header>