<!--<main>-->
<aside class="side-menu">
  <ul>
    <li>
      <i class="fa-solid fa-gear"></i>
      <a href="#"> 환경설정 </a>
    </li>
    <li>
      <i class="fa-solid fa-store"></i>
      <a href="#"> 상점관리 </a>
    </li>
    <li>
      <i class="fa-solid fa-users"></i>
      <a href="#"> 회원관리 </a>
    </li>
    <li>
      <i class="fa-solid fa-box-open"></i>
      <a href="#"> 상품관리 </a>
    </li>
    <li>
      <i class="fa-solid fa-credit-card"></i>
      <a href="#"> 주문관리 </a>
    </li>
    <li>
      <i class="fa-solid fa-headphones"></i>
      <a href="#"> 고객센터 </a>
    </li>
  </ul>
</aside>
<!--</main>-->
