<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>고객센터 > 공지사항</title>
  <link rel="stylesheet" href="/style/init.css"/>
  <link rel="stylesheet" href="/style/common/admin/header.css"/>
  <link rel="stylesheet" href="/style/common/admin/aside.css"/>
  <link rel="stylesheet" href="/style/common/admin/content.css"/>
  <link rel="stylesheet" href="/style/common/admin/footer.css"/>
  <link rel="stylesheet" href="/style/common/pagination.css"/>
  <link rel="stylesheet" href="/style/admin/cs/notice/notice.css"/>
  <link
      rel="icon"
      href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png"
  />
  <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css"
  />
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
      crossorigin="anonymous"
  ></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
  <script src="/js/admin/config/aside-drop.js"></script>
  <script type="module" src="/js/common/admin/modal.mjs"></script>
  <script
      type="module"
      src="/js/common/admin/registryModal.js"
  ></script>
</head>
<body>
<div id="wrapper">
  <th:block th:insert="~{/common/admin/header}"></th:block>
  <main>
    <th:block th:insert="~{/common/admin/aside}"></th:block>
    <section id="content-area">
      <div class="content-area-title">
        <h3>공지사항 목록</h3>
        <span>
              <a href="#">HOME&nbsp;>&nbsp;</a>
              <a href="#">고객센터&nbsp;>&nbsp;</a>
              <a href="#">공지사항</a>
            </span>
      </div>
      <div class="content">
        <form action="#" method="GET" id="search-area">
          <select name="filter" class="search-filter">
            <option value="1">고객서비스</option>
            <option value="2">이벤트</option>
            <option value="3">안전거래</option>
            <option value="4">위해상품</option>
          </select>
          <input
              type="submit"
              class="search-submit-btn"
              value="검색"
              style="display: none"
          />
        </form>
        <table>
          <tbody>
          <tr>
            <th>
              <input type="checkbox" onclick="return false;"/>
            </th>
            <th>번호</th>
            <th>유형</th>
            <th>제목</th>
            <th>조회</th>
            <th>날짜</th>
            <th>관리</th>
          </tr>
          <tr th:each="notice, i:${pageResponseDTO.dtoList}">
            <td>
              <input type="checkbox"/>
            </td>
            <td>[[${pageResponseDTO.startNo - i.index}]]</td>
            <td>[[${notice.subtype_name}]]</td>
            <td><a th:href="@{/admin/cs/notice/view(id=${notice.id})}">[[${notice.title}]]</a></td>
            <td>[[${notice.hit}]]</td>
            <td>[[${notice.register_date}]]</td>
            <td>
              <button class="control-btn default">수정</button>
              <button class="control-btn delete"
                      type="button"
                      th:attr="data-id=${notice.id}"
                      onclick="deleteNotice(this)">삭제
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="crud-btn-area">
          <button class="enroll-btn delete-btn">선택삭제</button>
          <a class="enroll-btn register-btn" th:href="@{/admin/cs/notice/write}"> 작성하기 </a>
        </div>
      </div>
    </section>
  </main>
  <section class="pagination">
    <a class="page move" href="#">
      <i class="fa-solid fa-angles-left"></i>
    </a>
    <a class="page move" href="#">
      <i class="fa-solid fa-chevron-left"></i>
    </a>
    <a class="page" href="">1</a>
    <a class="page" href="">2</a>
    <a class="page" href="">3</a>
    <a class="page" href="">4</a>
    <a class="page move" href="#">
      <i class="fa-solid fa-chevron-right"></i>
    </a>
    <a class="page move" href="#">
      <i class="fa-solid fa-angles-right"></i>
    </a>
  </section>

  <th:block th:insert="~{/common/admin/footer}"></th:block>
</div>
</body>
</html>

<script>
  function deleteNotice(button) {
    const id = button.getAttribute('data-id');
    if (confirm('정말 삭제하시겠습니까?')) {
      window.location.href = `/admin/cs/notice/delete?id=${id}`;
    }
  }
</script>
